<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>纯米 | 上传节目表</title>

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet" />
<link th:href="@{/css/style.css}" rel="stylesheet" />

<link th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet"/>
<link th:href="@{/css/plugins/footable/footable.core.css}" rel="stylesheet"/>
<link th:href="@{/js/layer-3.1.1/layer/theme/default/layer.css}" rel="stylesheet"/>
 
</head>
<body>
<div id="imgtest"></div>
    <div id="wrapper">
		<nav class="navbar-default navbar-static-side" role="navigation" th:include="nav :: navigation"></nav>
		<div id="page-wrapper" class="gray-bg">
        	<div class="border-bottom" th:include="header :: headerTop"></div>
      		<div class="row wrapper border-bottom white-bg page-heading" th:fragment="headerNav">
		   		<div class="col-lg-10">
		     		<h2>上传节目表</h2>
		      	</div>
		      	<div class="col-lg-2">
		      	</div>
		  	</div>
			<form class="form-horizontal" method="post" id="addSchedule"
				th:action="@{addSchedule}">
				<div class="box-body">
					<div class="form-group">
						<label class="control-label col-sm-2">
						<select class="form-control cate_selector" name="type">
								<option value="0">注册页图片</option>
								<option value="1">节目表图片</option>
								<option value="2">弹幕背景图片</option>
						</select>
						</label>
						<div class="col-sm-5">
							<img class="img-rounded" id="imgpic" name="imgpic" src=""
								style="display: block; float: left; width: 256px; height: 126px; padding: 1px 15px"></img>
							<label
								style="display: block; border: 1px solid #ffb752; float: left; border-radius: 5px; padding: 1px 5px; vertical-align: middle; background-color: #ffb752; color: white; margin-top: 54px; cursor: pointer; margin-left: 12%;">
								<input type="file" id="imgUpload" name="file"
								onchange="uploadPic(this)" style="display: none;"
								multiple="multiple" /> 选择图片
							</label> <input id="pic" name="picUrl" value="" type="hidden"></input>

						</div>
					</div>
				</div>
			</form>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" onclick="subAddScheduleForm();">确定</button>
			</div>


			<div class="row" style="margin-top: 14px;">
				<div class="col-sm-12">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>图片配置列表</h5>
							<div class="ibox-tools">
								<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
								</a>
							</div>
						</div>
						<div class="ibox-content">
							<div class="table-responsive">
								<table class=" table table-hover" data-page-size="10">
									<thead>
										<tr>
											<th>名称</th>
											<th>图片</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="pic : ${picList}">
											<td  th:text="${pic.typeName}">名称</td>
											<td><img alt="" th:src="${pic.picUrl}" height="80" /></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>



			<div class="footer" th:include="footer :: copyright"></div>
      	</div>
		
	</div>
	
	
    <!-- Mainly scripts -->
    <script th:src="@{/js/jquery-2.1.1.js}"></script>
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
    <script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
	<!-- Peity -->
    <script th:src="@{/js/plugins/peity/jquery.peity.min.js}"></script>
	
    <!-- Custom and plugin javascript -->
    <script th:src="@{/js/inspinia.js}"></script>
    <script th:src="@{/js/plugins/pace/pace.min.js}"></script>
	
   
    <!-- common -->
    <script th:src="@{/js/common.js}"></script>
    
    <script th:src="@{/js/jquery.form.min.js}"></script>
    
    <!-- layerui -->
	<script th:src="@{/js/layer-3.1.1/layer/layer.js}"></script> 
    
    <script th:inline="javascript">
    /*<![CDATA[*/
    	
    	$(function(){
			siderBar("uploadSchedule");
		});
    	 
		
     
    	 
    	//保存添加的节目表图片
    	function subAddScheduleForm(){
    		//保存前非空判断
			var pic = $("#pic").val();
			 
			if(pic ==null || pic==''){
				layer.msg("图片不能为空!",{time:1000});
				return
			}
    		$("#addSchedule").submit();
    		 
    	}
    	
    	
    	 
    	
    	function uploadPic(obj){
    		var ctxValue = $(obj).val();
    		var extStart = ctxValue.lastIndexOf(".");
    		var ext = ctxValue.substring(extStart, ctxValue.length).toUpperCase();
    		if(ext==".GIF" || ext==".JPG" || ext==".JPEG" || ext==".PNG" || ext==".BMP" || ext==".ICO"){
    			var options = {
    					url : "uploadPrizePic",
    					type : "POST",
    					dataType : 'JSON',
    					success : function(data) {
    						layer.closeAll();
    						if(data.code==10000){
    							$("#pic").val(data.result);
    							$("#imgpic").attr('src',data.result);
    							layer.msg("图片上传成功",{time:1000});
    						}else{
    							layer.msg(data.message,{time:1000});
    						}
    					},
    					error:function(){
    						layer.closeAll();
    						layer.msg("系统异常",{time:1000});
    					}
    				};
    				$("#addSchedule").ajaxSubmit(options);
    				layer.load(0);
    		}else{
    			layer.msg("上传图片格式错误",{time:1000});
    		}
    	}
		
	/*]]>*/
	</script>

</body>

</html>